* {
  font-family: "Roboto";
  font-weight: 800;
  color: #000000;
}

p {
  margin-top: 30px;
}

.container1 {
  margin: 5% auto auto 0;
}

.container2 {
  margin: 0 auto;
}

.chart {
  display: inline-block;
}

.canvas-container {
  display: inline-block;
}

.loading {
  display: inline-block;
  width: 222px;
}

.icon {
  font-size: 40px;
}

.spinner {
  margin: 5px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #ffa800;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
